.navbar-brand img{
    width: 160px;
    height: 80px;
}


.carousel-img{
    height: 60vh;
    object-fit: cover;
}

.third-content, .fifth-content, .especialidades, .contratar{
background: rgb(240,128,128);
background: radial-gradient(circle, rgba(240,128,128,1) 0%, rgba(248,173,157,0.7987570028011204) 100%);
}

.contacto-ziba{
    background-color: #FFDAB9;
    border: 1px solid #FFDAB9;
    border-radius: 5%;
}

.cursos{
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.cursos::after{
    content:"";
    background-image: url(../multimedia/alfajor.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: .6;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}