*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
 }

.grid__container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

 /*header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    box-shadow: rgb(127 137 161 / 50%) 0px 0px 30px;
}*/

/* Menu */

.navigation{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__logo{
    width: 160px;
    height: 80px;
    align-self: center;
}

.navigation ul{
    list-style: none;  
}

.menu li{
    position: relative;
    display: inline-block;   
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #F08080;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.menu li a:hover{
    color: black;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #F8AD9D;
	width: 120%;
    display: none;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.menu li:hover .submenu{
	display: block;
}

/* Start First Content*/ 

.firstContent{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position:relative;
    text-align: center;
}

.firstContent::after{
    content:"";
    background-image: url(../multimedia/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: .8;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.firstContent h1{
    font-size: 2rem;
    font-weight: medium 500;
    color: #000000;
    padding: 10px;
    margin: 5px;
  
}

.firstContent h4{
    font-size: 1.1rem;
    font-weight: medium 500;
    color: #000000;
    padding: 10px;
    margin: 5px;
   
}

.firstContent a{
    font-size: 1.1rem;
    font-weight: medium 500;
    background-color: #FFDAB9;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #FFDAB9;
    border-radius: 5%;
    ;
}
/*finish first content*/

/* Second Content */

.secondContent{
    width: 100%;
    background-color: #ffffff; 
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 1rem;
    place-items: center;

}


.secondContent__Text{
    margin: 1rem;
    padding: 1Rem;
    text-align: center;

}

.secondContent__Text h2{
    font-size: 2rem;
    font-weight: 900;
    color: #F08080;
}

.secondContent__Text p{
    font-size: 0.9rem;
}

.secondContent__img{
    height: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;   

}

.secondContent__img--brk{
    height: 250px;
    width: 350px;
}
/* Finish second content*/

/* Third Content */

.thirdContent{
    width: 100%;
    background: rgb(249,98,159);
    background: linear-gradient(302deg, rgba(249,98,159,1) 0%, rgba(255,192,203,1) 35%, rgba(238,192,200,1) 100%);
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 2rem;
    place-items: center;
}


.thirdContent__div{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
}

.thirdContent i{
    font-size: 2.5rem;
    text-align: center;
}

.thirdContent h3 {
    font-size: 1.2rem;
    font-weight: medium 500;
    text-align: center;
}

.thirdContent p{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}
/* Finish third content*/

/* Fourth Content */

.fourthContent{
    width: 100%;
    background-color: #ffffff; 
    overflow: hidden;
    text-align: center;
}

.fourthContent__div{
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fourthContent h2{
    font-size: 2rem;
    font-weight: medium 500;
    color: #F08080
}

.fourthContent__img{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1rem;
    place-items: center;
}

.fourthContent img{
    width: 250px;
    height: 250px;
}

.fourthContent__div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.fourthContent__div2 p{
    font-size: 1rem;
    font-weight: medium 500;
    color: black;
}
/* Finish fourth content*/

/* Fifth Content */

.fifthContent{
    width: 100%;
    background-color: #F08080;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 2rem;
    place-items: center;
    text-align: center;
}

.fifthContent__text{
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.fifthContent__text h2{
    font-size: 1.7rem;
    font-weight: 900;
    color: black;
    text-align: center;
}

.fifthContent__text p{
    font-size: 0.9rem;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: black;
}

.contacto{
    font-size: 1.1rem;
    font-weight: medium 500;
    background-color: #FFDAB9;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #FFDAB9;
    border-radius: 5%;
}

.fifthContent__icon{
    padding-top: 50px;
}

.fifthContent__icon a{
    font-size: 2rem;
    padding: 30px;
    color:black
}

.fifthContent_iframe{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
  
}

.iframe{
    height: 350px;
    width: 350px;
}

/* Finish Fifht content*/

/*Footer*/

.footer{
    width: 100%;
    background-color: #ffffff; 
    font-size: 0.8rem;
    text-align: center;
    padding: 20px; 
}
/* Finish Footer */

/* Start About Us */

.aboutUs{
    background-color: #ffffff;
    width: 100%;    
}

.aboutUs__Text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutUs h1{
    font-size: 2rem;
    font-weight: medium 500;
    padding: 20px;
    color: #F08080;
}

.aboutUs h2{
    font-size: 1.2rem;
    font-weight: medium 500;
    padding: 10px;
    color: black;
}

.aboutUs__Multi{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 1rem;
    place-items: center;

}

.aboutUs__p {
    font-size: 0.9rem;
    padding: 20px;
    margin: 0px 40px;
    text-align: center;

}

.aboutUs__img{
    margin: 10px;
    padding: 15px;
    width: 400px;
    height: 400px;
}
.aboutUs__img img{
    width: 350px;
    height: 350px;
}

/* Finish About Us */

/* Especialidades*/

.especialidades{
    width: 100%;
    background: rgb(249,98,159);
    background: linear-gradient(302deg, rgba(249,98,159,1) 0%, rgba(255,192,203,1) 35%, rgba(238,192,200,1) 100%);
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-gap: 1.5rem;
    place-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.especialidades h3{ 
    font-size: 1.4rem;
    font-weight: medium 500;
    text-align: center;
    

}

.especialidades div{
    font-size: 1rem;
    font-weight:500;
   
}

.especialidades li{
    padding: 5px;
}

/* Finish Especialidades */

/* Pastelera */

  .pastelera{
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 1.5rem;
    place-items: center;
}


.pastelera__img{
    margin: 10px;
    padding: 15px;
    width: 400px;
    height: 250px;
}

.pastelera__img img{
    width: 350px;
    height: 210px;
}

.pastelera__text{
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.pastelera__text h3{
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 20px;
    color: #F08080;
}

.pastelera__text a{
    color: black;
}

.pastelera__text p{
    font-size: 1rem;
    font-weight: 500;
    padding-top: 20px;
}

/* Finish pastelera*/

/* Start cursos */

.cursos{
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.cursos::after{
    content:"";
    background-image: url(../multimedia/alfajor.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: .6;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cursos h1{
    font-size: 2.5rem;
    font-weight: medium 500;
    color: black;
    padding-top: 100px;
}

.cursos h2{
    font-size: 1.8rem;
    color: black;
    
}

.tipoCurso{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-gap: 2rem;
    place-items: center;
    margin: 30px 0px;
}

.online {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; 
}


.online__card{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.online:hover .online__card {
  transform: rotateY(180deg);
}

.online__card--front, .online__card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.online__card--front {
  background-color: #bbb;
  color: black;
}

.online__card--front img{
    width: 300px;
    height: 300px;
}

.online__card--back {
  background-color: #F4978E;
  color: black;
  transform: rotateY(180deg);
}

.online__card--back ul{
    list-style: none;
    margin:60px 10px 60px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.online__card--back ul li{
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
   
}

.presencial {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
}
  
  
.presencial__card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.presencial:hover .presencial__card {
    transform: rotateY(180deg);
}
  
.presencial__card--front, .presencial__card--back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}
  
.presencial__card--front {
    background-color: #bbb;
    color: black;
}
  
.presencial__card--front img{
      width: 300px;
      height: 300px;
}
  
.presencial__card--back {
    background-color: #F4978E;
    color: black;
    transform: rotateY(180deg);
}
  
.presencial__card--back ul{
    list-style: none;
    margin:60px 10px 60px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.presencial__card--back ul li{
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cursos__text{
    width: 100%;
    background: rgb(249,98,159);
    background: linear-gradient(302deg, rgba(249,98,159,1) 0%, rgba(255,192,203,1) 35%, rgba(238,192,200,1) 100%);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}
/* Finish Cursos*/

/* Start Recetas*/

.recetas__text{
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.recetas__text h1{
    font-size: 2.2rem;
    color: #F08080;
    padding: 10px;
    margin: 10px;
}

.recetas__text h4{
    font-size: 1.1rem;
    color: black;
    padding: 5px;
    margin:2px;

}

.recetas__box{
    background-color: #F8AD9D;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-gap: 1rem;
    z-index: -1;
    place-items: center;
    padding: 16px 0px;
}

.recetas__box--list{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #F4978E;
}

.recetas__box--list h2{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;   
    padding: 10px;
    margin: 2px;
    position: relative;
}

.recetas__box ul{
    list-style: none; 
    
}

.recetas__box ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 200px;
    border: 1px solid #F4978E;
    text-align: center;
    margin: 7px
}

.recetas__box ul li a{
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
    color: black;
    position: absolute;
    text-align: center;
    margin: 7px;
    z-index: 1;
    width: 200px;
    background-color: #FFDAB9;
    border-radius: 1px solid #ffdab9;
    border-radius: 10px;
}

.recetas__box ul li img{
    width: 100%;
    height: 200px;
    opacity: 0.7;
}

.recetas__add{
    width: 100%;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    border: 1px solid black
}

/* Finish Recetas */

/* Contacto */

.contact__text{
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.contact__text h1{
    font-size: 2.2rem;
    font-weight: 900;
    color: #F08080;
    padding: 20px;
    margin: 5px;
}

.contact__text h2{
    font-size: 1.4rem;
    font-weight: 900;
    color: black;
    padding: 5px;
    margin: 2px;
}

.container__contact{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,auto);
    place-items: center;
    grid-gap: 1rem;
}

.container__contact--form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact__form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit{
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #FBC4AB;
    border: 1px solid #FBC4AB;
    border-radius: 4px;
    margin-top: 2px;
}

label{
    cursor: default;
    display: block;
    font-size: 1.1rem;
    color: black;
    font-weight: 900;
    align-self: flex-start;
     text-align: left;
}

input, textarea{
    overflow: visible;
    width: 400px;
    margin-bottom: 10px;
}

.maps{
    width: 300px;
    height: 300px;
}

.maps p{
    font-size: 1rem;
    font-weight: 500;
}

.contact__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4978E;
    text-align: center;
    color: black
 }

 .contact__info h3{
     font-size: 1.3rem;
     font-weight: 900;
     margin: 10px;
     padding: 10px;
 }

 .correo h4, .tienda h4{
     font-size: 1.15rem;
     font-weight: 900;
     padding: 10px;
 }

 .correo p, .tienda p{
    font-size: 1rem;
    font-weight:400;
    padding: 10px;
    margin: 10px;
 }

 .redes{
     padding: 10px;
 }
 .redes p{
    font-size: 1rem;
    font-weight: 900;
    padding: 10px;
}

.redes a{
    font-size: 2rem;
    color: black;
    padding: 20px;
}

/* Finish Contacto */

/* MEDIA QUERIES */

@media screen and (min-width: 768px)  {
 

    .firstContent{
        height: 500px;
        text-align: start;
        padding-top: 90px;
    }

    .firstContent a{
        margin: 50px;
    
    }

    .secondContent{
        grid-template-rows: repeat(2,auto);
    }
    
    .secondContent__Text h2{
        padding: 20px;
        margin: 0px 100px;
    }
    .secondContent__Text p{
        padding: 20px;
        margin: 0px 100px;
    }

    .secondContent__img{
        height: 350px;
        width: 450px;
        margin: 20px;
    }

    .secondContent__img--brk{
        height: 100%;
        width: 100%;
    }

    .thirdContent, .fourthContent__img{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
    }

    .especialidades{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(1,auto);
    }
}

@media screen and (min-width: 1024px)  {
    .navigation{
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }


    .secondContent, .fifthContent, .container__contact{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
    }

    .thirdContent, .fourthContent__img{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
    }

    .aboutUs__Multi, .pastelera, .tipoCurso{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(1,auto);
    }

    .recetas__box{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(1,auto);
    }

    .contact__info{
        width: 50%;
        height: 100%;
     }
}