@import '../base/maps';

body {
    font-family: 'Montserrat', sans-serif;
 }

.carousel-img{
    height: 60vh;
    object-fit: cover;
}

.third-content, .fifth-content, .especialidades, .contratar, .recetas, .contact{
    background: rgb(240,128,128);
    background: radial-gradient(circle, rgba(240,128,128,1) 0%, rgba(248,173,157,0.7987570028011204) 100%);
}

.contacto-ziba{
    background-color: map-get($contacto, bg-contact);
    border: map-get($contacto, border);
    border-radius: map-get($contacto, border-radius);
}

.carousel-text{
    color: #000000;
}

.carousel-text h5{
    font-weight: 900;
    font-size: 2rem;
}

.carousel-text p{
    font-weight: 900;
    font-size: 1rem;
}

.cursos__text{
    width: 100%;
    background: rgb(249,98,159);
    background: linear-gradient(302deg, rgba(249,98,159,1) 0%, rgba(255,192,203,1) 35%, rgba(238,192,200,1) 100%);
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}