@import '../base/mixins';

.index-title{
    color: nth($colores, 1);
    font-weight: 900;
}

.index-title2{
    color:#000000;
    font-weight: 900;
}

.especialidades{
    @include colores(#F08080)
}